<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="/" class="logo">
        <span class="logo__text">Helixson Global</span>
        <span class="logo__accent"> Marketing</span>
      </a>
    </div>

    <nav class="header__nav" [class.header__nav--open]="isMenuOpen">
      <ul class="nav__list">
        <li
          *ngFor="let item of menuItems"
          class="nav__item"
          [class.nav__item--has-dropdown]="item.children"
          (mouseenter)="onMouseEnter(item.label)"
          (mouseleave)="onMouseLeave()"
        >
          <a
            *ngIf="!item.children; else dropdown"
            [href]="item.link"
            class="nav__link"
          >
            {{ item.label }}
          </a>

          <ng-template #dropdown>
            <button
              class="nav__link nav__link--dropdown"
              (click)="toggleDropdown(item.label, $event)"
            >
              {{ item.label }}
              <svg
                class="dropdown-icon"
                [class.dropdown-icon--active]="isDropdownActive(item.label)"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M4 6L8 10L12 6"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
            <div
              class="mega-dropdown"
              [class.mega-dropdown--active]="isDropdownActive(item.label)"
            >
              <div class="mega-dropdown__container">
                <div
                  *ngFor="
                    let categoryGroup of categorizedLinksCache;
                    let i = index
                  "
                  class="mega-dropdown__category"
                  [style.animation-delay.ms]="i * 60"
                >
                  <h3 class="mega-dropdown__category-title">
                    <span class="category-title-gradient">{{
                      categoryGroup.category
                    }}</span>
                  </h3>
                  <ul class="mega-dropdown__list">
                    <li
                      *ngFor="let link of categoryGroup.links; let j = index"
                      class="mega-dropdown__item"
                      [style.animation-delay.ms]="i * 60 + j * 40"
                    >
                      <a [href]="link.href" class="mega-dropdown__link">
                        <span class="mega-dropdown__icon">{{ link.icon }}</span>
                        <div class="mega-dropdown__content">
                          <span class="mega-dropdown__title">{{
                            link.title
                          }}</span>
                          <span class="mega-dropdown__description">{{
                            link.description
                          }}</span>
                        </div>
                        <svg
                          class="mega-dropdown__arrow"
                          width="16"
                          height="16"
                          viewBox="0 0 16 16"
                          fill="none"
                        >
                          <path
                            d="M6 3L11 8L6 13"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>

      <div class="header__cta">
        <a routerLink="/login" class="btn btn--primary">
          <span class="btn__text">Login</span>
          <span class="btn__icon">→</span>
        </a>
      </div>
    </nav>

    <button
      class="hamburger"
      [class.hamburger--active]="isMenuOpen"
      (click)="toggleMenu()"
      aria-label="Toggle menu"
    >
      <span class="hamburger__line"></span>
      <span class="hamburger__line"></span>
      <span class="hamburger__line"></span>
    </button>
  </div>
</header>
